/*===ACCOUNT SECTION===*/
#left-panel {
  padding: 0px;
  margin-left: -30px;
  height: 500px;
}
#account-panel {
  width: 70%;
  position: relative;
  min-height: 510px;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 10%;
}
.profile-box {
  border-bottom: 1px solid #efefef;
  padding: 5px 15px;
  margin-top: 10px;
  position: relative;
}

#user-management-panel {
  min-height: 450px;
}
