/* ----------- Non-Retina Screens ----------- */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /*===NAVBAR====*/

}

/* ----------- Retina Screens ----------- */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
  /* ===NAVBAR=== */
  #nav-right {
    margin-right: 5px;
  }
  #nav-left {
    margin-left: 20%;
  }
  #nav-logo {
    margin-left: 5px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*#nav-content {
      margin-top: 50px;
      }*/
  #nav-logo {
    margin-left: 50%;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
  #nav-logo {
    margin-left: 50%;
  }
  #nav-right {
    margin-right: 15px;
  }
  #nav-left {
    margin-left: 15px;
  }
  #nav-content {
    margin-top: 50px;
  }
  #recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    "

  }
}

/* UI VIEW SCROLL*/

[ui-view=main] {
  padding-top: 100px;
}

/* MAIN CONFIG */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 800px;
  position: relative;
}
#header {
  padding: 10px;
}
#content {
  margin-top: 30px;
  padding-bottom: 300px;
  /* Height of the footer element */
}
#footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

/* ===SECTION STYLE===*/

section.success {
  color: #fff;
  background: #18bc9c;
}
section.success a, section.success a:hover, section.success a:focus, section.success a:active, section.success a.active {
  outline: 0;
  color: #2c3e50;
}

/* ====IMAGE SLIDER==== */

.carousel {
  width: 100%;
}
.carousel-inner {
  height: 200%;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: 650px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

/* ===MOBILE APP PAGE === */

.headline-bg {
  width: 100%;
  top: 0;
  left: 0;
  background: #253340 url('../images/background/bg-header-small-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ======= Download Apps ======= */

.download-page .headline-bg {
  height: 1200px;
  background: #253340 url('../images/background/bg-mobile-headline.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.apps-section {
  min-height: 900px;
  padding-top: 160px;
}
.apps-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
}
.apps-section .intro {
  text-align: left;
  margin-bottom: 60px;
}
.apps-section .phone-holder {
  width: 324px;
  height: 651px;
  display: block;
  background: url('../images/mobile/iphone.png') no-repeat left top;
  position: relative;
}
.apps-section .phone-holder .screenshot {
  position: absolute;
  left: 21px;
  top: 75px;
}
.apps-section .content-area .download-list li {
  margin-bottom: 15px;
}
.apps-section .content-area .download-list li .btn {
  width: 220px;
  text-align: left;
}
.apps-section .content-area .info {
  margin-top: 60px;
  margin-bottom: 60px;
  background: rgba(31, 51, 64, 0.8);
  padding: 30px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.apps-section .content-area .info .title {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
}

/**/


/* ===MODAL=== */

.video-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.video-modal .modal-content img {
  margin-bottom: 30px;
}
.video-modal .modal-content .item-details {
  margin: 30px 0;
}
.video-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.video-modal .close-modal:hover {
  opacity: .3;
}
.video-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.video-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #2c3e50;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.video-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

/* ===APP BUTTON=== */

a.button-app {
  font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background: #ED5E2F;
  color: #FFF;
  border: 0px none;
  outline: 0px none;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.button-app:hover {
  background: #21216d;
}
.button-app:active {
  background: #F6A953;
}

/*===NAVBAR ICONS===*/

#shopping-cart {
  cursor: pointer;
}
#shopping-cart-popover-content {
  width: 300px;
}
#search-box-search {
  cursor: pointer;
  margin-right: 20px;
}
#user-icon {}

/*===SHOP===*/
#shop-container {
  margin-top: 5%;
}
a .disabled {
  color: rgb(106, 107, 113)!important;
  pointer-events: none;
  cursor: default;
}

/*===CHECKOUT FORM=== */
div .active-address {
  border: 2px solid rgb(46, 113, 214);
}

div .shipping {
  cursor: pointer;
  transition: 0.15s;
}

div .shipping:hover {
  background: rgb(46, 113, 214);
  color: white;
}

/* ===ACCOUNT=== */
div .active {
  color: white;
  background-color: rgb(15, 98, 124);
}

/*div .active:hover {
  background-color: rgb(15, 98, 124)!important;
}*/

div .active:focus {
  background-color: rgb(15, 98, 124)!important;
}

div .info-section {
  margin-top: 5%;
}

.title {
  color: rgb(15, 98, 124);
  font-weight: bold;

}

.user-section {

  background-image: url('../images/background/dark-blue-texture.jpg');

}


/*charts*/

#chart1 {
  height: 400px;
  width: 800px;
}

#chart2 {
  height: 400px;
  width: 800px;
}
