/* ====CONTACT FORM SECTION=== */

.contact {
  margin-top: 100px;
  width: 50%;
  margin-left: 25%;
}
.contact h2 {
  text-align: center;
}

/* form styling */

#form-container {
  background: #2f2f2f;
  margin-bottom: 20px;
  border-radius: 5px;
}
#form-container h2 {
  color: #FFF;
  padding: 15px;
  margin-top: 1px;
}
#form-container .page-header {
  background: #0b277a;
  margin: 0;
  padding: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* numbered buttons */

#status-buttons {

}
#status-buttons button {
  outline: none;
  border: none;
  background: none;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
}
#status-buttons a:hover {
  text-decoration: none;
}

/* we will style the span as the circled number */

#status-buttons span {
  background: #393939;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%;
}

/* active buttons turn light green-blue*/

#status-buttons button.active span {
  background: #00BC8C;
}

/* ANIMATION STYLINGS
		============================================================================= */

#signup-form {
  position: relative;
  min-height: 450px;
  overflow: hidden;
  padding: 30px;
}
#form-views {
  width: auto;
}

/* basic styling for entering and leaving */


/* left and right added to ensure full width */

#form-views.ng-enter, #form-views.ng-leave {
  position: absolute;
  left: 30px;
  right: 30px;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
}

/* enter animation */

#form-views.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease;
  -moz-animation: slideInRight 0.5s both ease;
  animation: slideInRight 0.5s both ease;
}

/* leave animation */

#form-views.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease;
  -moz-animation: slideOutLeft 0.5s both ease;
  animation: slideOutLeft 0.5s both ease;
}

/* BUTTONS */

#register {
  background-color: #4CAF50;
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* ANIMATIONS
		============================================================================= */


/* slide out to the left */

@keyframes slideOutLeft {
  to {
    transform: translateX(-200%);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-200%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-200%);
  }
}

/* slide in from the right */

@keyframes slideInRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(200%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}

/* VALIDATION */

.form-group .ng-valid {
  border: 1px solid green;
}
.form-group .ng-invalid {
  border: 1px solid red;
}
.form-group .ng-pristine {
  border-style: none;
}
.ng-dirty {}
.ng-touched {}
.text-danger {
  color: red;
}

/* GOOGLE CAPTCHA */

.captcha {
  text-align: center;
}
.g-recaptcha {
  display: inline-block;
}
