<div class="container" style="margin-top: 8%">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <img ng-src="{{img}}"  alt="" class="img-rounded">
    </div>
    <div class="col-md-6">
        <div class="btn-group btn-group-justified" role="group" ng-if="status != 'OK'">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger">Call Emergency</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger">Notify Volontiers</button>
            </div>
        </div><p></p>
        <table class="table table-striped" style="color: #555">
            <tr>
                <td>Name</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>{{surname}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>Disease</td>
                <td>{{disease}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span ng-if="status == 'OK'" class="label label-success">{{status}}</span>
                    <span ng-if="status == 'Warning'" class="label label-warning">{{status}}</span>
                    <span ng-if="status == 'Danger'" class="label label-danger">{{status}}</span>
                </td>
            </tr>
        </table>
          <!-- SECTION GRAPHS -->
          <hr>
          <section id="graphs">
              <!-- map -->
              <div map-lazy-load="https://maps.google.com/maps/api/js">
                <ng-map center="45.546995,11.54676" zoom="16">
                    <custom-marker type="circle" position="[45.546995,11.54676]">
                        <div>
                        <img width="64" ng-src="./images/map-marker-3.png" align="left" style="position: absolute; z-index: 1; margin-top: -3px;"/>
                            <img width="45" src="{{img}}" style="position: absolute;
                            z-index: -1;
                            margin-left: 8px;
                            height: 40px;
                            width: 50px;"/>
                        </div>
                    </custom-marker>
                </ng-map>
            </div>
        </section>
        <hr>
        <div><p></p></div>
        <section>
            <div id="chart1" ac-chart="chartType" ac-data="data1" ac-config="config1"></div>
        </section>
    </div>
  </div>
</div>