<div class="container" ng-init="auth()" style="margin-top: 100px">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Welcome back Emily</h3>
      <div class="row" style="margin-top: 50px">
        <table class="table">
          <tr>
            <td></td>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Disease</th>
            <th>Status</th>
          </tr>
          <tr>
            <td><button class="btn btn-primary" ng-click="showDetails('1111')">Details</button></td>
            <td>Lynn</td>
            <td>Rodriquez</td>
            <td>72</td>
            <td>SLA</td>
            <td><span class="label label-success">OK</span></td>
          </tr>
          <tr ng-class="dangerClass">
            <td><button ng-class="buttonClass" ng-click="showDetails('2222')">Details</button></td>
            <td>Flossie</td>
            <td>Melendez</td>
            <td>26</td>
            <td>Epilepsy</td>
            <td><span ng-class="changedClass">{{changedStatus}}</span></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" ng-click="showDetails('3333')">Details</button></td>
            <td>Elsie</td>
            <td>Fuller</td>
            <td>69</td>
            <td>Diabetes</td>
            <td><span class="label label-success">OK</span></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" ng-click="showDetails('1111')">Details</button></td>
            <td>Aileen</td>
            <td>Moody</td>
            <td>72</td>
            <td>SLA</td>
            <td><span class="label label-success">OK</span></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" ng-click="showDetails('2222')">Details</button></td>
            <td>Robert</td>
            <td>Wood</td>
            <td>82</td>
            <td>Prostate</td>
            <td><span class="label label-success">OK</span></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" ng-click="showDetails('2222')">Details</button></td>
            <td>Elon</td>
            <td>Musk</td>
            <td>69</td>
            <td>Diabetes</td>
            <td><span class="label label-success">OK</span></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" ng-click="showDetails('1111')">Details</button></td>
            <td>Jeff</td>
            <td>Bezos</td>
            <td>72</td>
            <td>wealth</td>
            <td><span class="label label-success">OK</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
