<div class="container contact" ng-init="auth()">
	<section>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>Login</h2></div>
			<div class="panel-body">
				<form name="loginForm" id="loginForm" novalidate ng-submit="login(loginForm.$valid)">
					<!-- ERROR PANELS -->
					<div class="alert alert-danger" role="alert" ng-show="loginForm.email.$invalid && submitted">Please enter a valid email</div>
					<div class="alert alert-danger" role="alert" ng-show="loginForm.password.$invalid && submitted">Please enter a valid password</div>
					<div class="alert alert-danger" role="alert" ng-show="loginError.message"><strong>{{loginError.message}}</strong></div>

					<!-- FORM -->
					</br>
					<div class="row control-group">
						<div class="col-xs-12 floating-label-form-group controls">
							<div class="input-group input-group-lg">
								<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lg fa-envelope"></i></span>
								<input type="email" class="form-control" name="email" ng-model="credentials.email" placeholder="email" required>
							</div>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="col-xs-12 floating-label-form-group controls">
							<div class="input-group input-group-lg">
								<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lg fa-key"></i></span>
								<input type="password" class="form-control" name="password" ng-model="credentials.password" ng-minlength="6" placeholder="password" required>
							</div>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="form-group col-xs-12" style="text-align: center!important">
							<button type="submit" class="btn btn-primary btn-lg" ng-disabled="loginForm.$invalid"><i class="fa fa-lg fa-unlock-alt"></i> Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>

<!-- show our formData as it is being typed -->
<!-- <pre>
	{{credentials}}
</pre> -->
