<div class="container" ng-init="auth()">
  <div class="row">
    <div class="col-xs-12" ng-show="orders">
      {{orders}}
    </div>

    <div ng-hide="orders" class="text-center" style="margin-top: 50px">
      <span class="alert alert-danger">You are not authorized to view the content of this page. please <a href="/#login">login</a>.</span>
    </div>
  </div>
</div>
