<div class="container" ng-init="auth()">
  <div class="row">

    <div class="col-xs-12" ng-show="products" style="margin-top: 50px">

      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>firmware version</th>
            <th>build version</th>
            <th>quantity in stock</th>
            <th>selling</th>
            <th>price</th>
          </tr>
        </thead>
          <tr ng-repeat="product in products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.firmware_version}}</td>
            <td>{{product.build_version}}</td>
            <td>{{product.quantity_in_stock}}</td>
            <td>{{product.selling}}</td>
            <td>{{product.price}}</td>
            <td><i class="fa fa-times" style="cursor: pointer" ng-click="openModal('delete', product)"></i></td>
            <td><i class="fa fa-edit" style="cursor:pointer" ng-click="openModal('update', product)"></i></td>
          </tr>
      </table>

      <div class="text-center">
        <button class="btn btn-primary" ng-click="openModal('insert', products[0])">Add Product</button>
      </div>

    </div>


    <div ng-hide="products" class="text-center" style="margin-top: 50px">
      <span class="alert alert-danger">You are not authorized to view the content of this page. please <a href="/#login">login</a>.</span>
    </div>

  </div>
</div>
