<!DOCTYPE html>
<html ng-app="hydroflyCMS">

<head>
  <meta charset="utf-8">
  <title>Hydrofly CMS</title>
  <!-- STYLE -->
  <link rel="stylesheet" type="text/css" href="js/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/forms.css">
  <link rel="stylesheet" type="text/css" href="css/account.css">
    <link rel="stylesheet" href="js/vendor/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
  <!-- SCRIPT -->
  <!-- vendor -->
  <script src="js/vendor/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/vendor/bower_components/angular/angular.min.js"></script>
  <script src="js/vendor/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="js/vendor/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="js/vendor/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="js/vendor/bower_components/spin.js/spin.js"></script>
  <script src="js/vendor/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

  <!-- application -->
  <script src="js/app.js"></script>
  <!-- controllers -->
  <script src="js/controllers/homeCtrl.js"></script>
  <script src="js/controllers/loginCtrl.js"></script>
  <script src="js/controllers/accountCtrl.js"></script>
  <script src="js/controllers/ordersCtrl.js"></script>
  <script src="js/controllers/productsCtrl.js"></script>
  <script src="js/controllers/detailsCtrl.js"></script>
  <!-- router -->
  <script src="js/routes.js"></script>
  <!-- services -->
  <script src="js/services/auth.js"></script>
  <script src="js/services/modals.js"></script>  
  <!-- map -->
  <script src="js/vendor/bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="http://maps.google.com/maps/api/js" async></script>
  <!-- charts -->
  
  <script src="js/vendor/bower_components/d3/d3.js"></script>
  <script src="js/vendor/bower_components/angular-charts/dist/angular-charts.js"></script>
  
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- navbar navigation button -->
      <div class="navbar-header pull-left">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" id="nav-button" style="margin-top: 15px; margin-left: 5px">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- logo -->
      <div class="navbar-header" id="nav-logo">
        <a class="navbar-brand nav navbar-nav navbar-left" href="#/home"><img style="width: 50%; max-width:60px; margin-top: -7px;" alt="Logo" src="./images/iconN.png"></a>
      </div>

      <!-- collapsing items -->
      <div class="collapse navbar-collapse" id="nav-left">
        <ul class="nav navbar-nav navbar-left" id="nav-content">
          <li>
            <a href="#/home">Home</a>
          </li>
         <!-- <li>
            <a href="#/orders">Orders</a>
          </li>
          <li>
            <a href="#/products">Products</a>
          </li> -->
        </ul>

        <!-- USER DROPDOWN -->
        <ul class="nav navbar-nav navbar-right" id="nav-icon" ng-controller="loginCtrl" ng-show="userData.loggedIn">
          <li class="dropdown pull-rigt" id="user-icon">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-lg fa-user"></i> {{userData.name.split(" ")[0]}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#" ui-sref="account.profile">
                  <i class="fa fa-lg fa-cog"></i> Account
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a ng-controller="loginCtrl" ng-click="logout()">
                  <a href="#" ng-click="logout()">
                    <i class="fa fa-lg fa-sign-out"></i> Sign out
                  </a>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- navbar -->
  </div>

  <!-- CONTENT -->
  <div id="content">
    <div ui-view></div>
  </div>
</body>

</html>
