<div class="container-fluid user-section">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div class="panel panel-default" id="left-panel">
          <div class="panel-heading">
                <img class="img-circle" ng-show="userData.profile_img" ng-src="{{userData.profile_img}}" width="25%">
                <img class="img-circle" ng-hide="userData.profile_img" src="/images/icons/UserPlaceholder.png" width="25%" />
                <span style="margin-left: 5%">{{userData.name}}</span>
          </div>
          <div class="panel-body">
            <ul class="nav panel-list">
              <li class="nav-level">Manage Account</li>
              <li>
                <a href="#" ui-sref-active="active" ui-sref="account.profile">
                  <i class="fa fa fa-user"></i>
                  <span class="menu-text">Profile</span>
                </a>
              </li>
              <li>
                <a href="#" ui-sref-active="active" ui-sref="account.credentials">
                  <i class="fa fa fa-key"></i>
                  <span class="menu-text">Credentials</span>
                </a>
              </li>
              <li>
                <a href="#" ui-sref-active="active" ui-sref="account.addresses">
                  <i class="fa fa-envelope-square"></i>
                  <span class="menu-text">Addresses</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="nav-level">My Orders</li>
              <li>
                <a href="#" ui-sref-active="active" ui-sref="account.orders-status">
                  <i class="fa fa-dropbox"></i>
                  <span class="menu-text">Status</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li>
                <a href="#" ui-sref-active="active" ui-sref="account.orders-history">
                  <i class="fa fa-table"></i>
                  <span class="menu-text">History</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="nav-level">My HydroFly</li>
              <li>
                <a href="#" ui-sref-active="active" ui-sref="account.register-hydrofly">
                  <i class="fa fa-star"></i>
                  <span class="menu-text">Register an Hydrofly</span>
                  <span class="selected"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="panel" id="account-panel">
          <div class="panel-body">
            <div id="form-views" ui-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
