<div class="panel panel-default" id="user-management-panel">
  <div class="panel-body">
    <div class="col-sm-12">
      <div>Change Email <i class="fa fa-lg fa-pencil-square" ng-click="triggerEmail()"></i></div>
      <div class="row" ng-show="ch_email">
        <!-- <pre>
          {{emailForm}}
          {{chEmail}}
        </pre> -->
        <form name="emailForm" ng-submit="changeEmail(emailForm.$valid)">
          <div id="form-views">
            <div class="form-group">
              <label ng-hide="emailForm.email.$pristine" for="email">New Email:</label>
              <input ng-model="chEmail.data.email" class="form-control" name="email" type="email" placeholder="New Email" required/>
              <p ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine" class="help-block text-danger">Please enter a valid email address</p>
            </div>
            <div class="form-group">
              <label ng-hide="emailForm.email2.$pristine" for="email">Retype it:</label>
              <input ng-model="chEmail.data.email2" ng-pattern="(chEmail.data.email)" class="form-control" name="email2" type="email" placeholder="Retype it" required/>
              <p ng-show="emailForm.email2.$error.pattern && !emailForm.email2.$pristine" class="help-block text-danger">The email doesn't match</p>
            </div>
            <div class="form-group">
              <label ng-hide="emailForm.password.$pristine" for="email">Enter password:</label>
              <input ng-model="chEmail.data.password" class="form-control" name="password" type="password" placeholder="Enter Password" ng-minlength="6" required/>
            </div>
            <button class="btn btn-danger center-block" type="submit" ng-disabled="emailForm.$invalid"><i class="fa fa-lg fa-envelope"></i> Change Email</button>
          </div>
        </form>
      </div>
      <hr />

      <div>Change Password <i class="fa fa-lg fa-pencil-square" ng-click="triggerPsw()"></i></div>
      <div class="row" ng-show="ch_psw">
        <!-- <pre>
          {{pswForm}}
        </pre> -->
        <form name="pswForm" ng-submit="changePsw(pswForm.$valid)">
          <div>
            <div class="form-group">
              <label ng-hide="pswForm.password.$pristine" for="password">New Password:</label>
              <input ng-model="chPsw.data.password" class="form-control" name="password" type="password" placeholder="New Password" ng-minlength="6" required/>
              <p ng-show="pswForm.password.$error.minlength && !pswForm.password.$pristine"class="help-block text-danger">The password should be at least 6 characters long</p>
            </div>
            <div class="form-group">
              <label ng-hide="pswForm.password2.$pristine" for="password2">Retype it:</label>
              <input ng-model="chPsw.data.password2" ng-pattern="(chPsw.data.password)" class="form-control" name="password2" type="password" placeholder="Retype it" required/>
              <p ng-show="pswForm.password2.$error.pattern && !emailForm.password2.$pristine" class="help-block text-danger">The password doesn't match</p>
            </div>
            <div class="form-group">
              <label ng-hide="pswForm.oldPassword.$pristine" for="oldPassword">Current password:</label>
              <input ng-model="chPsw.data.oldPassword" class="form-control" name="oldPassword" type="password" placeholder="Enter Password" ng-minlength="6" required/>
            </div>
            <button class="btn btn-danger center-block" type="submit" ng-disabled="pswForm.$invalid"><i class="fa fa-lg fa-key"></i> Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
