<div class="panel panel-default" id="user-management-panel">
  <div class="panel-body">
    <div ng-show="userData.orders">
      {{userData.orders}}
    </div>
    <div ng-hide="userData.orders">
      THERE ARE NO ORDERS FOR YOUR ACCOUNT. SHOP NOW!
    </div>
  </div>
</div>
