<div class="panel panel-default" id="user-management-panel">
  <div class="panel-body list-group">
    <div class="col-sm-12">
      <div class="row info-section">
        <div class="col-sm-6">
          <span class="title">Name:</span>
        </div>
        <div class="col-sm-6">
          <span>{{userData.name}}</span>
        </div>
      </div>
      <div class="row info-section">
        <div class="col-sm-6">
          <span class="title">Email:</span>
        </div>
        <div class="col-sm-6">
          <span>{{userData.email}}<a href="#" ui-sref="account.credentials" ng-click="triggerEmail()"> <i class="fa fa-pencil"></i></a></span>
        </div>
      </div>
      <div class="row info-section">
        <div class="col-sm-6">
          <span class="title">Password:</span>
        </div>
        <div class="col-sm-6">
          <a href="#" ui-sref="account.credentials" class="btn btn-warning" ng-click="triggerPsw()">Change Password</a>
        </div>
      </div>
      <div class="row info-section">
        <div class="col-sm-6">
          <span class="title">Addresses:</span>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default" ng-repeat="address in userData.addresses">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-2">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="col-xs-10">
                    {{address.address}}, {{address.city}}, {{address.post_code}}, {{address.country}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span ng-hide="userData.addresses">You haven't set any shipping address yet</span>
          <div><a class="btn btn-default center-block" href="#" ui-sref="account.addresses"><i class="fa fa-plus"> Add shipping address</i></a></div>
        </div>
      </div>

      <div class="row info-section">
        <div class="col-sm-6">
          <span class="title">HydroFly:</span>
        </div>
        <div class="col-sm-6">
          <span ng-show="userData.hydroflies" ng-repeat="serial in userData.hydroflies">{{serial}}</span>
          <span ng-hide="userData.hydroflies">You haven't registered any HydroFly yet</span>
          <div style="margin-top: 5%"><a class="btn btn-primary center-block" href="#" ui-sref="account.register-hydrofly">Register an HydroFly</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
