<div class="panel panel-default" id="user-management-panel">

  <div class="panel-body">

    <form name="hydrofly" ng-submit="registerHydrofly(hydrofly.$valid)" novalidate>
      <div class="form-group">
        <label for="hydroflySerial">Serial number:</label>
        <input class="form-control" ng-model="hydroflySerial" placeholder="Insert serial number" ng-minlength="16" maxlength="16" ng-pattern="/^[0-9]+$/" required/>
        <i class="text-danger" ng-show="hydrofly.$error.pattern">Only numbers are allowed</i>
      </div>
      <input type="submit" value="Register" ng-disabled="hydrofly.$invalid" class="btn btn-primary center-block"/>
    </form>


  </div>

</div>
