<div class="modal-header">
  <span class="text-center">
    <h3>Are you sure you want to delete this item?</h3>
  </span>
</div>

<div class="modal-body">
  <table class="table">
    <tr>
      <th ng-repeat="(key, value) in data" ng-if="key !== 'available_colors'">{{key}}</th>
    </tr>
    <tr>
      <td ng-repeat="(key, value) in data" ng-if="key !== 'available_colors'">
        {{value}}
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <div class="text-center">
    <button class="btn btn-danger"><i class="fa fa-times-circle"> Delete</i></button>
    <button class="btn btn-primary"> <i class="fa fa-arrow-circle-o-left"></i> Back</button>
  </div>
</div>
