<div class="modal-header">
  <span class="text-center">
    <h2>Insert Panel</h2>
  </span>
</div>

<div class="modal-body">
  <form name="insertForm">
    <div class="form-group" ng-repeat="(key, value) in data" ng-if="key !== 'available_colors'">
      <label for="{{key}}">{{key}}</label>
      <input type="text" class="form-control" required/>
    </div>
    <div class="text-center">
      <button class="btn" id="register" type="button" name="submitButton" ng-disabled="insertForm.$invalid"><i class="fa fa-check-circle"> Insert</i></button>
      <a class="btn btn-primary"><i class="fa fa-arrow-circle-o-left"> Back</i></a>
    </div>
  </form>
</div>
